.changePasswordWindow {
  max-width: 50rem;
  .btn {
    max-height: 4rem;
    padding: 2.5rem;
  }
  .form {
    flex-direction: column;
    justify-content: unset;
  }
}
@media (max-width: 560px) {
  .changePasswordWindow {
    max-width: unset;
  }
}
