.widget {
  height: 6rem;
  width: 6rem;
  border-radius: 4rem 4rem 1rem 4rem;
  background: #D900B6;
  background: #D900b6;
  box-shadow: 0 0 2rem rgba(217, 0, 182, 0.45);
  .count {
    top: 60%;
    right: -15%;
  }
}