.modalBody {
  overflow-y: auto;
  max-width: 60rem;
  width: 100%;
  border-radius: 2rem;
}
.modalBody::-webkit-scrollbar {
  width: 4px;
}
.modalBody::-webkit-scrollbar-thumb {
  background: gray;
}
@media (max-width: 560px) {
  .modalBody {
    border-radius: unset;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
  }
}