.sliderBtnWrapper {
  height: 100%;
  width: 4rem;
  z-index: 4;
}
.sliderBtnLeft {
  left: -1.5rem;
}
.sliderBtnRight {
  right: -1.5rem;
}
@media (max-width: 1400px) {
  .sliderBtnWrapper {
    svg {
      height: 3.6rem;
      width: 3.6rem;
    }
  }
  .sliderBtnLeft {
    left: -2rem;
  }
  .sliderBtnRight {
    right: -2rem
  }

}
